.image-profile {
	width: 160px;
	height: 160px;
}

.users-list>li>img {
	width: 60px;
	height: 60px;
}

.image-thumb {
	width: 250px;
	height: 250px;
	margin: 10px auto;
}


.clear-both{

    clear: both;

    overflow: hidden;

    visibility: hidden;

    width: 0;

    height: 0;

}


.bg-brown, .callout.callout-warning, .alert-warning, .label-waring, .modal-warning .modal-body {
	background-color: #FAE0A2 !important;
}

.bg-purple, .callout.callout-warning, .alert-warning, .label-waring, .modal-warning .modal-body {
	background-color: #E8A2FA !important;
}

