@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

@import url(//fonts.googleapis.com/css?family=Kaushan+Script);

@import url(//fonts.googleapis.com/css?family=Kaushan+Script);







@media all and (max-width: 1224px) {

	.title_web{

		text-align: right;

		font-size: 1em;

		margin: 55px 0 0 0;



		

	}



	.home_menu{

		font-size: 10px;

	}



	.menunya{

		margin: 0 0 0 00px;

	}

}



@media all and (max-width: 700px) {

	.title_web{

		text-align: center;

		margin: 35px 0 0 0;

		

	}

	.footer p{

	text-align: center;
	

	}	

	

}



@media all and (min-width: 1224px) {

	.title_web{

		font-size: 1.5em;

		text-align: right;

		margin: 55px 0 0 0;

	}



	.menunya{

		margin: 0 0 0 150px;

	}



}









	.box-header-title{

		background: #1d9b72;

		padding: 3px;

		

	}

	.box-header-content{

		background: url(../web_component/IMAGE/blur-background09.jpg) repeat center center fixed;

		_background: #fff7d7;

		padding: 3px;

		width: 100%;

		

	}



	.title_web{

		

		color: #323232;

		text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

		font-weight: 300;

		opacity: 0.8;

		

		

		

	}



	.logo-kol{

		margin:0 auto;

		margin-top: 30px;

		margin-bottom: 30px;

	}



	.home_menu{

		background: none;

		margin-bottom: 0;

		border-radius: 0px;

		border: 0px;

		margin: 20px 0 0 0;

	}



	



	.navbar-inverse .navbar-nav>li>a {

		/*border-top: 1px solid;

		border-right: 1px solid;

		border-bottom: 0px;

		border-left: 0px;*/

		

		border-color:#f1e1a3;

		color: #323232;

		font-family: 'Source Sans Pro', sans-serif;

	}



	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {

		color: #fff;

		background:#1d9b72;

	}



	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {

		border-color: #1d9b72;

	}



	.navbar-inverse .navbar-toggle {

		border-color: #1d9b72;

	}



	.navbar-inverse .navbar-toggle .icon-bar {

		background-color: #1d9b72;

	}



	.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {

		background-color: #1d9b72;

	}



	.dropdown-menu {

		border-top: 8px solid #1d9b72;

		font-family: 'Source Sans Pro', sans-serif;

	}



	.li_aktif{

		background:#1d9b72;	

	}



	.navbar-inverse .navbar-nav>li>a:hover {

		color: white;

		background: #1d9b72;



	}



	.dropdown-menu>li>a:hover {

		color: white;

	}



.home_slider{

	width: 70%;

	margin: 20px auto;

	background: white;

	border: 1px solid #B1AFAF;

	padding: 3px;

	box-shadow: 1px 2px 15px #272822;

}





.divider {

	height:2px;

	border-bottom: 1px solid #d9d5d0;

	-webkit-box-shadow: 0px 1px 1px 0px #ffffff;

	box-shadow: 0px 1px 1px 0px #ffffff;

}



.welcome_message{

	margin: 50px 0 70px 0;

}



.welcome_message h1{

	color: #1d9b72;

	font-weight: 300;

	-webkit-font-smoothing: antialiased !important;

	opacity: 0.8;

	font-family: 'Neuton';

	text-align: center;

	font-size: 40px;

}



.welcome_message p{

	font-weight: 300;

	-webkit-font-smoothing: antialiased !important;

	opacity: 0.8;

	font-family: 'Neuton';

	text-align: center;

	font-size: 25px;

}



.circle-text {

    width:30%;

    margin: -60px auto 0;

    display: block;

    height:30%;

    padding-bottom: 30%;

    background: #91ceba;	

    -moz-border-radius: 50%; 

    -webkit-border-radius: 50%; 

    border-radius: 50%;

    transition: background-color 0.5s ease;

}









.circle-text:hover {

    background: #1d9b72; 

}







.circle-text div {

    float:left;

    width:100%;

    padding-top:50%;

    line-height:1em;

    margin-top:-0.5em;

    text-align:center;

    color:white;

    font-family: 'Neuton';



}



.circle-text div a{

    color:white;

}



.circle-text-2{

	width:30%;

    margin: 0 auto;

    margin-bottom: 50px;

    margin-top: 20px;

    display: block;

    height:30%;

    padding-bottom: 30%;

    background: #1d9b72;	

    -moz-border-radius: 50%; 

    -webkit-border-radius: 50%; 

    border-radius: 50%;

    transition: background-color 0.5s ease;

}



.circle-text-2 div {

    float:left;

    width:100%;

    padding-top:25%;

    line-height:1em;

    text-align:center;

    color:white;

    font-family: 'Neuton';



}



.circle-text-3{

	width:10%;

    margin: 0 auto;

    margin-bottom: 50px;

    margin-top: 20px;

    display: block;

    height:10%;

    padding-bottom: 10%;

    background: #1d9b72;	

    -moz-border-radius: 50%; 

    -webkit-border-radius: 50%; 

    border-radius: 50%;

    transition: background-color 0.5s ease;

}



.circle-text-3 div {

    float:left;

    width:100%;

    padding-top:25%;

    line-height:1em;

    text-align:center;

    color:white;

    font-family: 'Neuton';



}



.news_content{

	border:1px solid #e5e5e5;

	padding: 10px;

	font-family: 'Neuton';

}



.news_content a{

	padding: 10px;

	font-family: 'Neuton';

	color:#1d9b72;

}



.gallery_home{

	background: #ffffff; /* Old browsers */

	background: -moz-linear-gradient(top,  #ffffff 1%, #dae4e6 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#dae4e6)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #ffffff 1%,#dae4e6 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #ffffff 1%,#dae4e6 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #ffffff 1%,#dae4e6 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #ffffff 1%,#dae4e6 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dae4e6',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid #d9d5d0;

	-webkit-box-shadow: 0px 1px 1px 0px #ffffff;

	box-shadow: 0px 1px 1px 0px #ffffff;



}



.fb_event_video {

	margin: 50px 0 0 0;





}

.fb_event_video h3{

	text-align: center;

	color: #3e3f43;

	font-family: 'Neuton';

	font-size: 28px;







}



.fb_event_video span{

	text-align: center;

	font-size: 14px;

	color: #b1b1b1;

	font-family: 'Neuton';

	height: 20px;





}



.footer{

	padding: 5px;

	background: #dfdfdf;

	font-family: 'Neuton';

	
	

}



.footer a{

	transition: background-color 0.5s ease;

	color :#1d9b72;

}



.footer a:hover{

	text-decoration: underline;

}





.read-panel{

	padding: 50px 0 0 0;

	font-family: 'Neuton';

}



.read-panel h2{

	font-family: 'Neuton';

}



.read-panel h4{

	font-family: 'Neuton';

}





.read_konten{

	/*border-left: 3px solid #1d9b72;*/

	border-left: 1px solid #d9d5d0;

	-webkit-box-shadow: 0px 1px 1px 0px #ffffff;

	box-shadow: 0px 1px 1px 0px #ffffff;

	overflow-y: scroll;

	min-height: 300px;

	max-height: 600px;

	margin: 0 0 100px 0;



}

.read_konten h2{

	font-family: 'Neuton';

	margin: 0 0 50px 0;

}





.read_konten_2 h2{

	font-family: 'Neuton';

	margin: 0 0 50px 0;

}



.read_konten_2 h4{

	font-family: 'Neuton';

}





.clear-both{

	clear: both;

	overflow: hidden;

	visibility: hidden;

	width: 0;

	height: 0;

}



